@charset "utf-8";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";
@import "~@creativebulma/bulma-divider";

// colors
$color-link: #126BA1;
$color-link-lighter: #449DD3;
$color-bg: white;
$color-menu: #5195cf;

@import "menu";
@import "footer";
@import "aboutMe";
@import "icons";
@import "projects";
@import "talks";

body {
    font-size: 18px;
    background-color: $color-bg;
}

.box {
    border: 1px solid #d7d9d9;
    box-shadow: none;
}

a {
    color: $color-link;
    font-weight: 600;
}
a:hover {
    color: $color-link-lighter;
}