.about-me {

    margin-top: 2rem;
    margin-bottom: 1.5rem;

    .left-col {
        justify-content: center;
        text-align: center;

        figure {
            @extend .is-flex;
            justify-content: center;

            img {
                height: 60%;
                width: 60%;
            }
        }
    }

    .title strong {
        font-weight: bold;
    }

    .right-col {
        p {
            font-size: 1.5rem;
        }
    }

    //h2.title {
    //    font-size: 1.2rem;
    //    text-transform: uppercase;
    //    color: #7a7a7a;
    //    margin-bottom: 0.8rem;
    //}
}