.navbar {
    background-color: $color-menu;
    border-bottom: 1px solid #d7d9d9;

    .navbar-menu {
        background-color: $color-menu;
    }

    .navbar-burger {
        color: white;
    }

    a.navbar-item {
        color: white;
        min-width: 7rem;
        justify-content: center;

        &.is-active {
            background-color: white !important;
            color: $color-link;
        }
        &:hover {
            background-color: white !important;
            color: $color-link;

        }
    }


}
