.projects {
    img {
        margin-right: 1rem;
    }
    h4 {
        display: inline;
    }
    .project {
        .card-content {
            min-height: 16rem;
        }
    }
    .project-community {
        .card-content {
            min-height: 33rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    margin-bottom: 2rem;
}