@charset "utf-8";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";
@import "~@creativebulma/bulma-divider";

@import "footer";
@import "profile";
@import "icons";
@import "projects";

body {
    font-size: 18px;
    background-color: #eef0f1;
}

.box {
    border: 1px solid #d7d9d9;
    box-shadow: none;
}

a {
    color: #126BA1;
    font-weight: 600;
}
a:hover {
    color: #449DD3;
}