@charset "utf-8";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";
@import "~@creativebulma/bulma-divider";

@import "footer";
@import "profile";
@import "icons";
@import "projects";

body {
    font-size: 18px;
    background-color: #eef0f1;
}

.box {
    border: 1px solid #d7d9d9;
    box-shadow: none;
}

a {
    color: #126BA1;
    font-weight: 600;
}
a:hover {
    color: #449DD3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, auto);

    span:nth-child(10n+11),
    span:nth-child(10n+12),
    span:nth-child(10n+13),
    span:nth-child(10n+14),
    span:nth-child(10n+15),
    {
        background-color: #fafafa;
    }

    span:nth-child(0n+1),
    span:nth-child(0n+2),
    span:nth-child(0n+3),
    span:nth-child(0n+4),
    span:nth-child(0n+5) {
        font-weight: bold;
        border-width: 0 0 2px;
        color: #363636;
    }

    span {
        padding: 0.25em 0.5em;
        border: 1px solid #dbdbdb;
        border-width: 0 0 1px;
    }
}