@charset "utf-8";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-viewer pre {
    padding: unset;
    margin: 2rem 0;
}

.markdown-viewer pre div {
    padding: 1rem !important;
    margin: 0 !important;
}

.markdown-viewer img {
    margin-left: auto;
    margin-right: auto;
}

.markdown-viewer ul.contains-task-list {
    list-style-type: none;
}

.markdown-viewer ul.contains-task-list > li > input[type="checkbox"] {
    margin: unset;
    margin-right: 0.5rem;
}

a:hover:not(.btn, .not-a) {
    @apply text-warning;
}

.formatted-text {
    @apply prose prose-lg lg:prose-xl max-w-none;
}